{% extends "dwpubcoffeeMakerBundle::layout.html.twig" %}

{% block head %}    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dwpubcoffeemaker/css/dropdown_styles.css') }}" />    
{% endblock %}

{% block content %}
    <img class="dwpubcoffeelogo" alt="DWPub Coffee Maker" title="DWPub Coffee Maker" src="{{ asset('bundles/dwpubcoffeemaker/images/coffee.gif') }}">
    <div class="dwpubtext">
    	<p>This coffee was awesome!</p>
    	<button class="add_to_grinder dropdown-button" onclick="location.href='{{ path('dwpubcoffee_maker_homepage') }}'">Get some more!</button>
    </div>
{% endblock %}